<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
  <connectionStrings>
    <add name="CoreDb" connectionString="Server=DESKTOP-B1IOPPO; Database=CoreMobileDb; User Id = CoreMobileUser; password = Ms_1103@6367" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>